body {
    background-color: #fff;
    color: #333;
    font-family: "Bitstream Charter", Palatino, Georgia, Times, serif;
    line-height: 1.4;
    margin: 2em auto;
    max-width: 35em;
    text-align: left;
    width: 93%;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 { font-family: Lato, Helvetica, sans-serif; }
h2 { border-bottom: 1px solid #ccc; }

a { text-decoration: none; }
a:link { color: #0645AD; } /* from Wikipedia as of 2015 */
a:visited { color: #7C7CA6; }
a:hover, a:active { text-decoration: underline; }

blockquote {
    border-left: 4px solid #ccc;
    color: #444;
    margin: 0px;
    padding: 0px 0px 0px 16px; /* top right bottom left */
}

code {
    background-color: #eee;
    padding-left: 4px;
    padding-right: 4px;
}

pre code {
    display: block;
    line-height: 1.2em;
    max-height: 30em;
    overflow: auto;
    padding: 10px;
}

table {
    border-bottom: 2px solid #000;
    border-collapse: collapse;
    border-top: 2px solid #000;
    margin: 0px auto; /* center table */
    width: 100%;
}

table th {
    border-bottom: 1px solid #333;
    font-weight: normal;
    padding: 0px 10px;
    vertical-align: top;
}

table td {
    padding: 0px 10px;
    vertical-align: top;
}
